header {
  color: #999F9E;
  position: absolute;
  background-image: url(/images/dark-color-carbon-fiber-texture-background_134416-44.jpg?ab6c36737dbd932e9aede1d94bb7167d);
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 18vh;
  font-size: 6vmin;
  font-family: Magneto;
  position: fixed;
  width: 100vw;
}

.header_title {
  position: relative;
  top: 20%;
  left: 11%;
  float: left;
}

button:active,
button:focus {
  outline: none;
}

.menu_button {
  background-color: transparent;
  background-image: url(/images/menu.png?3b7f4a3f5c10069bf052932f75422106);
  background-position: 10% 10%;
  background-size: 100% 100%;
  width: 7vmin;
  height: 7vmin;
  top: 8%;
  left: 0.3%;
  border-width: 2px;
  border-radius: 20%;
  border-color: #5a6268;
  float: left;
  position: absolute;
  white-space: normal;
}

.menu {
  background-color: #b1a4a4;
  height: 80%;
  width: 15%;
  display: none;
}

.Game_Buttons {
  background-color: transparent;
  width: auto;
  height: 100%;
  position: relative;
  top: -5%;
  white-space: normal;
  left: 1%;
  margin-left: 7%;
}

.header_all {
  float: left;
}

.header_top {
  width: 100%;
  height: 50%;
}

.Game_Button {
  color: white;
  background-color: transparent;
  position: relative;
  color: #999F9E;
  font-family: Magneto;
  font-size: 0.4em;
  border-radius: 12%;
  white-space: normal;
}

* {
  margin: 0 0 0 0;
}

